*{
    box-sizing: border-box
}

body{
    margin: 0;
    padding: 0;
    background: #c9ddff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #247ba0;
} 

/*wraper for title and subtitle*/
#headerText{
    margin: auto;
    padding: 0;
    flex: 1 1 auto;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
}

#headerText *{
    margin: 0
}

#headerText h1{
    border-bottom: 3px solid #ffe2d1;
    width: 35rem;
}

#headerText p{
    margin-top: 3vh;
}

#headerImage{
    flex: 0 1 auto;
    height: 90vh;
    margin-top: 10vh;
}

main{
    margin: 10vh 5vw;
    padding: 5vh 5vw;
    background: #247ba0;
}

main h2{
    font-size: 1.7rem;
    text-align: center;
    margin: 0 45vw;
}

main *{
    background: #ffe2d1;
    border-radius: .75rem;
}

main p{
    line-height: 1.5rem;
    font-size: 1.1rem;
    padding: 3vw;
    margin: 3vh 3vw;
}

main ul{
    font-size: 1.5rem;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkSpacer{
    font-size: 3rem;
    color: #a0a0a0;
}

.projectLink{
    text-decoration: none;
    padding: 0;
    margin: auto;
}

.projectLink:visited , .projectLink:link {
    color: #7a306c;
}

.projectLink:hover{
    color: #c93aaf;
}

.projectLink:active{
    color: #f775df;
}

/* *{
    border: 1px solid black;
} */